.GameBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: min(100vh,100vw);
    width: min(100vh,100vw);
    margin: 0 auto;
    background: green;
}

.GameBoxColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0;
}